:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: normal;
    
    --content-width: 1280px;

    color: rgba(255, 255, 255, 0.87);
    background-color: #151515;

    --dark: #181818;
    --darkC: #242424;
    --light: #f9f9f9;
    --grey: #969696;
    --clrBC: #0092cc;
    --clrBF: #087099;
    --clrRC: #ff3333;
    --clrRF: #CC3333;
    --clrGC: #779933;
    --clrGF: #5c7829;
    --clrJC: #dcd427;
    --clrJF: #b7b327;
}

a {
    font-weight: normal;
    color: var(--light);
    text-decoration: inherit;
}

a:hover {
    color: var(--grey);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

header nav, main section {
    max-width: var(--content-width);
    margin: auto;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    flex: 1 1 100px;
    font-weight: bold;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

form {
    min-width: 250px;
    max-width: 350px;
    margin: auto;
}

form div {
    margin: 25px;
}

form div p {
    margin: 5px 0;
}

.error {
    background-color: var(--clrRF);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 10px;
    border: var(--light) 1px solid;
}

.success {
    background-color: var(--clrGF);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 10px;
    border: var(--light) 1px solid;
}

label {
    display: block;
    padding: 5px;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 10px;
    padding: 5px;
    color: var(--light);
    line-height: 1.5rem;
    font-size: 1.2rem;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: var(--db);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--light);
    cursor: pointer;
}
  
button:hover {
    background-color: var(--mb);
    transition: background-color 0.2s;
}
  
footer nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-flow: row nowrap;
}
  
footer nav a {
    text-align: center;
}

.toast {
    position: relative;
    margin: 10px 10px 10px 0;
}

.toast button {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 100%;
    background-color: var(--light);
    color: var(--darkC);
}

.toast button:hover {
    cursor: pointer;
}
